<h1>Cookie We're better than friends.</h1>
<h2>We're cookie friends</h2>
<p>Hey there, {@name}</p>
<p>we love you {@name}.</p>
<br />
<br />
<p>When our cookies are ready, you'll be the first to know</p>
<br />
<p>Best,</p>
<p>Cookie Team</p>
