<h1>Cookie We're better than friends.</h1>
<h2>We're cookie friends</h2>
<p>Hey there,</p>
<p>we love you .</p>
<br />
<br />
<p>When our cookies are ready, you'll be the first to know</p>
<br />
<p>Best,</p>
<p>Cookie Team</p>

<button class="bg-[7c5dfa]">good boy</button>
